<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnackPet - Carrito</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <!-- Barra de Navegación -->
    <!-- Mismo código de barra de navegación que en index.html -->

    <!-- Contenido Principal -->
    <main>
        <h1>Mi Carrito</h1>
        <p>Aquí puedes ver y gestionar los productos que has agregado a tu carrito.</p>
        <!-- Añadir funcionalidades para gestionar el carrito -->
    </main>

    <script src="../js/main.js"></script>
</body>
</html>
