<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnackPet</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <img src="../img/WhatsApp Image 2024-06-04 at 5.44.45 PM.jpeg" alt="Logo" class="logo">
        <h1>Bienvenido a SnackPet</h1>
    </header>
    <div class="container">
        <h2>Home</h2>
        <p>Contenido de la página principal.</p>
    </div>
</body>
</html>
