<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnackPet - Tienda</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <!-- Barra de Navegación -->
    <!-- Mismo código de barra de navegación que en index.html -->

    <!-- Contenido Principal -->
    <main>
        <h1>Nuestra Tienda</h1>
        <section id="product-container">
            <!-- Productos de la tienda se cargarán aquí -->
        </section>
    </main>

    <script src="../js/main.js"></script>
</body>
</html>
